.wrapper{
    min-height: 928px;  
    margin: auto;
    background-color:papayawhip;
} 
marquee{
    color: green;
    margin: 10px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px; 
    font-style: italic;
}
.nav-panel{
    float: right; 
    margin:auto;
  }
  .nav-panel ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
  }
  .nav-panel li{
      list-style: none;
      display: inline;
      margin: 0px 20px; 
      font-family: 'Helvetica';
      font-size: 18px;

  }
   
.flex_container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    text-align: justify;
    font-family: Arial, "Helvetica", sans-serif; 
    margin: 10px 80px; 
    flex-direction: row;
}
.custom-file{
    margin-bottom: 30px;
}
.manage{
    margin-top: 50px;
}
h3{
    color:darkgreen;    
    text-align: center;
} 
.h2row h2{
    color:green;
    margin-top: 20px;
}
 h2{
    color:darkgreen;
}
._flex_container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around; 
    text-align: justify;
    font-family: Arial, "Helvetica", sans-serif;      
    margin: 10px auto; 
    flex-direction: row; 
    width: max-content;    
    background-color:inherit;
}
.file_upload{
    margin: auto;
    width: 720px;
    background-color:#fff;
    color: black;

}
.file_upload label{
    color: black;
}
.file_upload input,#Dropdown{
    /* border: 1px solid gray; */
    
     
}
.item_1{  
    border-radius: 30px; 
    order: 1;
    margin: 10px 5px;
    min-width: 560px;
    max-width: 620px;
} 
.item_2{
    border-radius: 30px; 
    order: 2;
    margin: 10px 5px;
    min-width: 560px;
    max-width: 620px;
}
.item_3{ 
    border-radius: 30px; 
    order: 3;
    margin: 10px 5px;
    min-width: 690px;
    max-width: 620px;
}
.item_4{ 
    border-radius: 30px; 
    order: 3;
    margin: 10px 5px;
    min-width: 690px;
    max-width: 620px;
}